# eclipse stuff
/bin
.project
.classpath
.externalToolBuilders

#ignore all compiled classes
MJ.jar
MJPA2.jar
javacup.dump
/src/mjparser/mj.java
/src/mjparser/sym.java
/src/mjparser/Yylex.java
src/MJDriver.class
src/MJPA2Driver.class
src/exceptions/InternalException.class
src/exceptions/SemanticException.class
src/mjparser/CUP$mj$actions.class
src/mjparser/ParseException.class
src/mjparser/SymbolValue.class
src/mjparser/Yylex.class
src/mjparser/mj.class
src/mjparser/sym.class
src/label/Label.class
src/symtable/SymTable.class
src/symtable/Type.class

#ignore generated source files
CupTestCases/*.class
CupTestCases/mjsimPictures

TestCasesMeggy/mjsimPictures
TestCasesMeggy/output.log
TestCasesMeggy/t1
TestCasesMeggy/t2
TestCasesMeggy/*.class
TestTypeCheck/*.class

src/ast/node/*.class
src/ast/visitor/*.class

src/ast_visitors/*.class


#ignore svn
/.svn

#ignore backup files
*~

#misc
*.s
*.dot
*.png
PA3Start.tar.gz
