# eclipse stuff
/bin
.project
.classpath
.externalToolBuilders

#ignore all compiled classes
MJ.jar
javacup.dump
/src/mjparser/mj.java
/src/mjparser/sym.java
/src/mjparser/Yylex.java
src/MJDriver.class
src/MJPA2Driver.class
src/*/*.class

#ignore generated source files
PA2Tests/CupTestCases/*.class
PA2Tests/CupTestCases/mjsimPictures

PA[0-9]Tests/mjsimPictures
PA[0-9]Tests/output.log
PA[0-9]Tests/t1
PA[0-9]Tests/t2
TestTypeCheck/*.class
PA[0-9]Tests/*/*.class
PA[0-9]Tests/*.class
PA[0-9]Tests/.nfs*


src/ast/*/*.class
src/ast_visitors/*.class


#ignore svn
/.svn

#ignore backup files
*~

#misc
*.java.s
*.dot
*.png

PA3Start.tar.gz
